@import 'variables.scss';

.btn {
  padding: $padding $padding*2;
  background: $red;
  color: $white;
  border: 0;
  border-radius: $radius;
  outline: none;
  cursor: pointer;
  &:hover {
    background: $red-hover;
  }
}